@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.woff2') format('woff2');
}

* {
  font-family: 'Inter', sans-serif !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions{
  @apply bg-blue-600;
}
.swipeable-list-item__trailing-actions {
  @apply bg-pink-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}

@theme {
	--color-primary-hover: #0069a8;
	--color-primary: #0084d1;
	--color-secondary: #737373;
	--color-black: #14181f;

}